<div class="row">
  <div class="small-3 large-2 columns">
    <img src="<%= status.get('user').profile_img_url %>" />
  </div>
  <div class="small-9 large-10 columns post-body">
    <p><strong><%= status.get("user").name %></strong> 
    <br>
    <%= status.escape("body") %>
    <ul class="inline-list">
      <li><%= status.get("likes").length %> likes</li>
      <li>
        <% liked_class = status.get('is_liked') ? 'liked' : 'not-liked' %> 
        <div class="<%= liked_class %> like-buttons">
          <button class="tiny button like" data-id="<%= status.id %>">Like</button>
          <button class="tiny button unlike" data-id="<%= status.id %>">Unlike</button>
        </div>
      </li>
    </ul>
    <div>
      <% status.get('comments').each(function(comment) { %>
        <%= JST["comments/comment"]({comment: comment, user: status.get('user')}) %>
      <% }) %>
    </div>
    <%= JST["comments/comment_form"]({post: status}) %>
  </div>
</div>
<hr />
